.hero-section{
    background-image: url(../images/architect.jpg);
    min-height: 500px;
    object-fit: cover;
    object-position:bottom center;
    vertical-align: middle;
    background-size: cover;
}
#br-text{
    background-color: rgba(0, 0,0, 0.8);
}

